		<!-- *** TOP BAR END *** -->

		<!-- *** NAVBAR ***
 ________________________________________________________ -->
 <!-- Carusel -->

<div class="container-flex">
	<div class="col-12">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="https://lh3.google.com/u/0/d/1dB7PW7TxmLHnFAk5sgoHJMzcqS6okc94=w1024-h614-iv1">
				</div>

				<div class="carousel-item">
					<img class="d-block w-100" src="https://lh3.google.com/u/0/d/1rtchn8unxeSHFrMbcqxkFppI2Td4KkIg=w1024-h614-iv1" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100" src="https://lh3.google.com/u/0/d/1oogU4NOMF7gwvN3G-hXkGtlL9wbLgpK6=w1024-h364-iv1  " alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Anterior</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Siguiente</span>
			</a>
	</div>


	</div>
</div>
 <!-- Fin Carusel -->

<div class="container">
	<div class="row">
		<div class="col">
			
		</div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
</div>


							
						

						<!-- *** ADVANTAGES HOMEPAGE ***


 _________________________________________________________ -->
<div id="advantages">

		<div class="container mt-4 my-2">
				<div class="row">
						<div class="col-sm-4">
								<div class="box same-height clickable">
										<div class="icon"><i class="fa fa-thumbs-up"></i>
										</div>

										<h3><a href="#">Selecciona</a></h3>
										<p>Busca el instrumento que mas te guste y se acople a tus necesidades</p>
								</div>
						</div>
            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-heart"></i>
                    </div>

                    <h3><a href="#">Personaliza</a></h3>
                    <p>Selecciona que color o que estampado quieres para tu nuevo instrumento </p>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon"><i class="fa fa-tags"></i>
                    </div>

                    <h3><a href="#">Solicita</a></h3>
                    <p>Completa el proceso de compra y recibe en tu puerta, tu nuevo e increible instrumento</p>
                </div>
            </div>

				</div>
				<!-- /.row -->

		</div>
		<!-- /.container -->

</div>
						<!-- /#advantages -->

						<!-- *** ADVANTAGES END *** -->

						<!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
<div id="hot">

		<div class="box">
				<div class="container">
						<div class="col-md-12">
								<h2>Lo mas vendido</h2>
						</div>
				</div>
		</div>
  </div>

						<!-- *** BLOG HOMEPAGE ***
 _________________________________________________________ -->
<!-- Acusticas mas vendidas -->

<div class="container mt-3">
  <div class="row  ">
    <div class="col-md-6 col-sm-12">
        <img src="<%= @acustica.img %>
        " alt="" class="img-fluid">
      <div class="ribbon new d-none d-sm-block">
          <div class="theribbon">NUEVO</div>
          <div class="ribbon-background"></div>
      </div>
        
      <div class="ribbon gift d-none d-sm-block">
          <div class="theribbon">35%OF</div>
          <div class="ribbon-background"></div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="front">
        <a href="#">
            <div class="text">
                <h3><a href="#">Guitarra acustica
                  <strong>
                     <%= @acustica.nombre %>
                  </strong>
                 
                </a></h3>
                <p class="price"><del>$877.000</del> <%= @acustica.precio.to_i %></p>
                <p><%= @acustica.descripcion %>                 </p>
                <div class="row">
                  <div class="col">
                    <p>Disponibles: <strong><%= @acustica.cantidad.to_i %> unidades</strong> 
                    </p>
                  </div>

                  <div class="col">
                      <p class="buttons">
                       <%= link_to 'Perzonalizar', @acustica ,class:"btn btn-info" %> 
                      </p>
                  </div>
                </div>
                  
            </div>
         </a>
      </div>
    </div>

  </div>

</div>
<div class="container mt-3">
  
  <div class="row mt-3">
    <% @electricas.each do |product| %>
      <div class="col-md-6 col-sm-12 mt-2">
        <img src="<%= product.img %>" alt="" class="img-fluid">

          <div class="ribbon gift d-none d-sm-block">
              <div class="theribbon">15%OF</div>
              <div class="ribbon-background"></div>
          </div>
       </div>
    <div class="col-md-6 col-sm-12">
      <div class="front">
            <div class="text">
                <h3><a href="#">Guitarra electrica
                  <strong>
                     <%= product.nombre %>
                  </strong>
                 
                </a></h3>
                <p class="price"><del>$747.000</del> <%= product.precio.to_i %></p>
                <p><%= product.descripcion %>                 </p>
                <div class="row">
                  <div class="col">
                    <p>Disponibles: <strong><%= product.cantidad.to_i %> unidades</strong> 
                    </p>
                  </div>

                  <div class="col">
                      <p class="buttons">
                       <%= link_to 'Perzonalizar', product ,class:"btn btn-info" %> 
                      </p>
                  </div>
                </div>     
            </div>
      </div>
    </div>


    <% end %>

  </div>
</div>








  			<div class="box text-center" data-animate="fadeInUp">
  					<div class="container">
  							<div class="col-md-12">
  									<h3 class="text-uppercase">MuxyBlog</h3>

  									<p class="lead">Los mejores consejos en nuestro blog<a href="/"> Ir al blog</a>
  									</p>
  							</div>
  					</div>
  			</div>

  			<div class="container">

  					<div class="col-md-12" data-animate="fadeInUp">

  							<div id="blog-homepage" class="row">
  									<div class="col-sm-6">
  											<div class="post">
  													<h4><a href="post.html">¿Escalas pentatonicas?</a></h4>
  													<p class="author-category">Por Jeferson Guerrero en <a href="">blog muxy</a>
  													</p>
  													<hr>
  													<p class="intro">Una escala pentatónica, pentafónica o pentáfona1​ en música es una escala o modo musical constituido por una sucesión de cinco sonidos, alturas o notas diferentes dentro de una octava.</p>
  													<p class="read-more"><a href="/" class="btn btn-primary">Continuar leyendo </a>
  													</p>
  											</div>
  									</div>

  									<div class="col-sm-6">
  											<div class="post">
  													<h4><a href="post.html">¿como se afina un instrumento?</a></h4>
  													<p class="author-category">por Nicolas rozo en <a href="">muxy blog</a>
  													</p>
  													<hr>
  													<p class="intro">Muchos principiantes llegan a desanimarse a los pocos días de empezar a tocar la guitarra por algo tan simple como la afinación de la guitarra, no consiguen que la guitarra suene nunca bien y esto les lleva inevitablemente al abandono.Pero con unas pequeñas pautas veréis que afinar es muy sencillo.</p>
  													<p class="read-more"><a href="/" class="btn btn-primary">Continuar leyendo</a>
  													</p>
  											</div>

  									</div>

  							</div>
  							<!-- /#blog-homepage -->
  					</div>
  			</div>
  			<!-- /.container -->

  			<!-- *** BLOG HOMEPAGE END *** -->


  	</div>
  	<!-- /#content -->

  	<!-- *** FOOTER ***
  _________________________________________________________ -->
