<!DOCTYPE html>
<html>
  <head>
	 <title>Muxyshop</title>
	 <%= csrf_meta_tags %>

	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	 <!-- Top menu - Promo del dia -->

	 <div id="top">
		<div class="container">
			<div class="row">
				 
				 <div class="col-md-6 offer" data-animate="fadeInDown">
					  <a href="/acusticas/index" class="btn btn-success btn-sm" data-animate-hover="shake">Oferta del dia</a>  <a > 35% de descuento en guitarras acusticas </a>
				 </div>
				 <div class="col-md-6 " data-animate="fadeInDown">
					  <ul class="menu">
					<% if signed_in?    %>
						 <li>
							<%= link_to " Salir" , destroy_user_session_path, method: :delete ,type:"button" %>
						 </li>
					  <% else   %>
						 <li>
							<%= link_to " Registrate" , new_user_registration_path  %> 
						 </li>
						 <li>
							<%= link_to " Ingresar" , new_user_session_path     %>
						 </li>
					<% end    %>
						<li><a href="#">Contactanos</a>
					  </ul>

				 </div>
			</div>
		</div>

	 </div>
<!-- End Top menu-->

<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="col">
		<img width ='150px' src="https://muxyshop.mabisy.com/server/Portal_0015761/img/logo.png" alt="">
 		 
	</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- menu nav bar -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  	<ul class="nav navbar-nav navbar-left">
	  		<!-- TIenda -->
		  <li class="active mb-2"><a href="/">Muxyshop</a>
		  </li>
		  <li class="dropdown yamm-fw mb-2">
		  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Categoria <b class="caret"></b></a>
		  	<!-- categorias 
		  	<%= link_to 'Categorias', products_path, class:"dropdown-toggle" %>
				-->
				</a>
				   <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<div class="dropdown-item">
	
							<div class="col-sm-3">
								  <h5>Guitarras </h5>
								  <ul>
										<li><a href="/products">Electricas</a>
										</li>
										<li><a href="/electroacusticas/index">Electro acusticas</a>
										</li>
										<li><a href="/acusticas/index">Acusticas </a>
										</li>

								  </ul>
							</div>
							<!-- Divisor -guitarras-->
							<div class="dropdown-divider"></div>
							<!-- Divisor end -->
							<div class="col-sm-3">
							  <h5>Bajos</h5>
							  <ul>
									<li><a href="/electricos/index">Electricos</a>
									</li>
									<li><a href="/electroacusticos/index">Electroacusticos</a>
									</li>
							  </ul>
						 	</div>
							<!-- Divisor -guitarras-->
							<div class="dropdown-divider"></div>
							<!-- Divisor end -->
							<div class="col-sm-3">
							  <h5>Accessorios</h5>
							  <ul>
									<li><a href="/accesorios/index">Afinadores</a>
									</li>
									<li><a href="/accesorios/index">Plumillas</a>
									</li>
									<li><a href="/accesorios/index">
									  Correas
									</a>
									</li>
									<li><a href="/accesorios/index">Trasnportadores</a>
									</li>
									<li><a href="/accesorios/index">Lineas</a>
									</li>
								</li>
							  </ul>
							</div>
					</div>
		  	</li>
		  <!-- mas  -->
			<li class="dropdown yamm-fw mb-2">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Mas <b class="caret"></b></a>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					<div class="dropdown-item">
						<% if signed_in?    %>
						<div class="col-sm-3">
							<h5>Usuario </h5>
							  <ul>
									<li>
										<%= link_to 'Perfil', edit_user_registration_path %>
									</li>
									<li>
										<%= link_to " Salir" , destroy_user_session_path, method: :delete ,type:"button" %>
									</li>
									<li><a href="customer-orders.html">Opciones</a>
									</li>	
											
							  </ul>
						</div>		
						<% end %>
						<div class="dropdown-divider"></div>
						<div class="col-sm-3">
							<h5>Comunidad </h5>
							  <ul>
									<li>
										<a href="/">
											Tips
										</a>
									</li>
									<li><a href="customer-orders.html">Recomendados</a>
									</li>	
									<div class="dropdown-divider"></div>		
							  </ul>
						</div>	
	

					</div>

				</div>
			</li>
			<li class="dropdown yamm-fw">
				<a href="#" class="" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Blog </a>
			</li>
		</ul>
  </div>
  <!-- Carrito de compras -->
	<div class="navbar-buttons">

	 <div class="navbar-collapse collapse right" id="basket-overview">
		  <a href="/" class="btn btn-primary navbar-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
		  <span class="hidden-sm">Carrito</span></a>
	 </div>
	 <!--/.nav-collapse -->
	</div>


</div>
</nav>
<!-- Noticias y alertas -->
			    <p class="alert alert-success" style=" <%= 'display:none ;'if  notice.nil? && alert.nil?  %>"><%= notice  %><%= alert %>
			    </p>

	 <%= yield %>

	   	<div id="footer" data-animate="fadeInUp">
  			<div class="container">
  					<div class="row">
  							<div class="col-md-3 col-sm-6">
  									<h4>Paginas</h4>

  									<ul>
  											<li><a href="text.html">Categoria</a>
  											</li>
  											<li><a href="text.html">Opciones</a>
  											</li>
  											<li><a href="faq.html">Blog</a>
  											</li>
  											<li><a href="contact.html">Contactanos</a>
  											</li>
  									</ul>

  									<hr>

  									<h4>Seccion de usuarios</h4>

  									<ul>
  											<li>
                          <%= link_to " Ingresar" , new_user_session_path     %>
  											</li>
  											<li>
                          <%= link_to " Registrate" , new_user_registration_path  %>
  											</li>
  									</ul>

  									<hr class="hidden-md hidden-lg hidden-sm">

  							</div>
  							<!-- /.col-md-3 -->

  							<div class="col-md-3 col-sm-6">

  									<h4>Top categorias</h4>

  									<h5>Guitarras</h5>

  									<ul>
  											<li><a href="/">acusticas</a>
  											</li>
  											<li><a href="/">electroacusticas</a>
  											</li>
  											<li><a href="/">electricas</a>
  											</li>
  									</ul>

  									<h5>Accesorios</h5>
  									<ul>
  											<li><a href="/">Afinadores </a>
  											</li>
  											<li><a href="/">Plumillas</a>
  											</li>
  											<li><a href="/">Correas</a>
  											</li>
  											<li><a href="/">Trasnportadores</a>
  											</li>
  									</ul>

  									<hr class="hidden-md hidden-lg">

  							</div>
  							<!-- /.col-md-3 -->

  							<div class="col-md-3 col-sm-6">

  									<h4>Encuentranos  </h4>

  									<p><strong>MuxyShop</strong>
  											<br> calle 13b 13-52
  											<br>Bogota
  											
  											<br>
  											<strong>Colombia</strong>
  									</p>

  									

  									<hr class="hidden-md hidden-lg">

  							</div>
  							<!-- /.col-md-3 -->



  							<div class="col-md-3 col-sm-6">

  									<h4>Suscribete a nuestro newsletter</h4>

  									<p class="text-muted">Los mejores consejos para musicos novatos y experimentados</p>

  									<form>
  											<div class="input-group">

  													<input type="text" class="form-control">

  													<span class="input-group-btn">

  		<button class="btn btn-default" type="button">Subscribete!</button>

  </span>

  											</div>
  											<!-- /input-group -->
  									</form>

  									<hr>

  									<h4>Redes sociales</h4>

  									<p class="social">
  											<a href="https://www.facebook.com/MuxyShop-1937980333189186/" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
  											<a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
  											<a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
  											<a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
  									</p>


  							</div>
  							<!-- /.col-md-3 -->

  					</div>
  					<!-- /.row -->

  			</div>
  			<!-- /.container -->
  	</div>
  	<!-- /#footer -->

  	<!-- *** FOOTER END *** -->




  	<!-- *** COPYRIGHT ***
  _________________________________________________________ -->
  	<div id="copyright">

  			
  			<div class="container">
  					<div class="col-md-6">
  							<p class="pull-left">© 2017 Muxyshop.</p>
  					</div>
  					<div class="col-md-6">
  							<p class="pull-right">Hecho por  <a href="">Jeferson guerrero</a><a href="">,  Nicolas Rozo</a>
  								
  					
  					</div>
  		</div>
  					
  		
  	</div>
  	<!-- *** COPYRIGHT END *** -->



  </div>
  <!-- /#all -->


  </body
></html>
